.banner{
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../public/ressources/img/hero_banner.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

 .hero-content{
        
        width: 80vw;
        border-radius: inherit;
        /* box-shadow: 8px 8px black; */
       } 