.color-bg {
    background-color: var(--color-background-secondary);
}

.width{
    width: 100%;
}

.padding-label{
    padding: 0.4rem 0.75rem !important;
}

.height-form{
    height: calc(2.2rem + calc(var(--bs-border-width) * 2))!important;
}

