:root{
  --color-font-light: #0B162C;
  --color-font-dark: #FFFFFF;
  --color-background: #3B556D;
  --color-background-t: #3B556DCC;
  --color-item: #D9D9D9;
  --color-button: #5FC2BA;
  --radius-border: 10px;
  --color-background-secondary:#1C2942;
  
  --bs-dark-rgb      : 11, 22, 44 ;
  --bs-primary-rgb   : 28, 41, 66 ;
  --bs-success-rgb   : 59, 85, 109 ;
  --bs-secondary-rgb : 95, 194, 186 ;
  --bs-light-rgb     : 255, 255, 255 ;
  --bs-danger-rgb    : 198, 10, 5 ;
  
  --dark      : var(--bs-dark-rgb);
  --primary   : var(--bs-primary-rgb);
  --success   : var(--bs-success-rgb);
  --secondary : var(--bs-secondary-rgb);
  --light     : var(--bs-light-rgb);
  --danger    : var(--bs-danger-rgb);
}

.dropdown-menu:hover{
  display: block;
}