.profile-back {
    background-color: #D9D9D9 !important;
    height : 500px;
    width :1300px;
}

.text-center {
    color : #5FC2BA !important;
}

.container {
    background-color: #0B162C !important;
    height: 200;
}

.test {
    background: #0B162C;
    
}

.test2 {
    background: #0B162C;
    
}
